{% extends 'includes/header.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'account_app/register.css' %}">
<div class="register-container">
    <h2 class="register-heading">Register</h2>
    <form method="post" class="register-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    <p class="register-login-text">Already have an account? <a href="/account/login/">Log In</a></p>
</div>
{% endblock %}
